body {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 80px;
    width: 100vw;
    background-color: rgb(37, 37, 37);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerWrapper {
    width: 80vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3em;
}

.dank {
    color: #1ABC9C;
    /* font-size: 0.9em; */
}

.puzzleBoard {
    /* width: 47vw;
    height: 47vw; */
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #1ABC9C;
    border-radius: 2%;
    overflow: hidden;
    color: #fff;
}

.puzzleBoard .row {
    /* height: 11%; */
    width: 100%;
    display: flex;
    justify-content: center;

}

.row input {
    height: 4.5vw;
    width: 6vw;
    min-height: 25px;
    min-width: 30px;
    font-size: 3vw;
    text-align: center;
    border: 1px solid rgb(15, 70, 60);
    background-color: rgb(37, 37, 37);
    color: #fff;
}

.row .emptySquare {
    color: #1ABC9C;
}

.row .shaded {
    background-color: rgb(53, 53, 53);
}

.row .leftBorder {
    border-left: 2px solid rgb(19, 104, 88);
}

.row .bottomBorder {
    border-bottom: 2px solid rgb(19, 104, 88);
}